a.nabvar-brand{
    color: #fff;
}
a.nav-link{
    color: #fff;
    background: #009966;
    margin-right: 1px;
    border-radius: 4px;
}
a.nav-link:hover{
    background: #009933;
}
.bg-blue{
    background-color: #0066cc;
}