<div class="container reserva">
  <h1>REALIZAR RESERVA</h1>
  <form class="form-inline"> 
    
        <div class="row">
            <p>INFORMACION PERSONAL</p>
            <div class="col-lg-6">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" id="nombre">Nombre:</label>
                <div class="col-sm-8">
                    <input type="text" id="nombre">
                </div>
                
            </div>
            <div class="form-group row espacio-sup">
                <label class="col-sm-4 col-form-label" id="ci">Ci:</label>
                <div class="col-sm-8">
                    <input type="text" id="ci">
                    </div>
            </div>
            <div class="form-group row espacio-sup">
                <label class="col-sm-4 col-form-label" id="correo">Correo:</label>
                <div class="col-sm-8">
                    <input type="text" id="correo">
                    </div>
            </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" id="apellidos">Apellidos:</label>
                    <div class="col-sm-8">
                        <input type="text" id="apellidos">
                    </div>
                </div>
                <div class="form-group row espacio-sup">
                    <label class="col-sm-4 col-form-label" id="telefono">Teléfono:</label>
                    <div class="col-sm-8">
                        <input type="text" id="telefono">
                    </div>
                </div>
            </div>
            <p class="espacio-titulo">INFORMACION DE PAQUEDE</p>

            <div class="col-lg-6 ">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" id="paquete">Seleccionar paquete:</label>
               <div class="col-sm-8">
                  <select readonly class="form-control-plaintext" id="paquete">
                    <option>TORO ROTO</option>
                  </select>
               </div>
                
            </div>
            </div>
            <div class="col-lg-6 ">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" id="pago">Seleccionar forma <br>de pago:</label>
                    <div class="col-sm-8">
                        <select readonly class="form-control-plaintext" id="pago">
                            <option>EFECTIVO</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="col-md-7 offset-md-4 botones">
                <button class="btn btn-success btn-lg" type="button">Guardar</button>
                <button class="btn btn-danger btn-lg" type="button">Cancelar</button>
            </div>
        </div>
          
  </form>
</div>