<div class="container reserva">
  <h1>LISTA RESERVAS</h1>
  <form class="form-inline">
    <div class="row">
      <div class="col-lg-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" id="categoria">Categoria:</label>
            <div class="col-sm-8">
              <select type="text" readonly class="form-control-plaintext" id="categoria">
                <option>Categoria 1</option>
              </select>
            </div>
          </div>
          <div class="form-group row espacio-sup">
            <label class="col-sm-4 col-form-label">Cupo mínimo:</label>
            <div class="col-sm-8">
              <input type="text" placeholder="" > 
            </div>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" id="PAQ">Paquete turistico:</label>
          <div class="col-sm-8">
            <select type="text" readonly class="form-control-plaintext" id="PAQ">
              <option> TORO TORO</option>
            </select>
          </div>
        </div>
        <div class="form-group row espacio-sup">
          <label class="col-sm-4 col-form-label">Cantidad de reservas:</label>
          <div class="col-sm-8">
            <input type="text" placeholder="" >
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="cupo">
          <div class="alert alert-success" role="alert">
              Cupo minimo cubierto <span>  </span><i class="fas fa-grin-alt fa-lg"></i>
          </div>
         <!--Cuando el cupo no sea cubierto es decir, la cantidad de reservas existentes sea menor al cupo:--> 
           <!--<div class="alert alert-danger" role="alert">
            Cupo minimo No cubierto <span>  </span><i class="fas fa-tired fa-lg"></i>
          </div>--> 
        </div>
      </div>
      <div class="col-m-8 offset-md-2">
          <table class="table-bordered">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Cantidad de personas</th>
                  <th>Nombre Completo</th>
                  <th>Telefono</th>
                  <th>Estado de pago</th>
                  <th>Eliminar reserva</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>14-08-18</td>
                  <td>1</td>
                  <td>Ana Maria Peres</td>
                  <td>7687873</td>
                  <td>cobrado</td>
                  <td>
                    <a href=""> <i class="fas fa-trash-alt fa-lg"></i></a>
                     
                    </td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>  
  </form>
</div>